
<%- include('partials/homeheader') %>
<nav class="bd-navbar navbar has-shadow is-spaced " role="navigation" aria-label="main navigation" >
    <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="" style="padding: 0 0 0;">
        <img src="./photos/logo.png" id="logo">
      </a>
     
      
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample" style="margin-right: 5%;">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  
    <div id="navbarBasicExample" class="navbar-menu">
     <div class="navbar-start" id="home">
      
         <a class="navbar-item" href="/secrets"> 
          <i class="fas fa-home" style="color: #C83516;"></i><strong>Latest Updates</strong> 
        </a>
        <a class="navbar-item" href="/quiz" target="_blank">  <i class="fas fa-graduation-cap" style="color: teal;"></i>
          <strong> Take Quiz</strong>  
           </a> 
        <a class="navbar-item" href="/blogs">  <i class="fas fa-globe-americas" style="color: #24C816;"></i>
       <strong> Contributions</strong>  
        </a> 
        <a class="navbar-item" href="/blogs/new"> <i class="fas fa-plus" style="color: blueviolet;"></i>
         <strong> Educate/Share</strong>   
          </a> 
         <!-- <a class="navbar-item">  <i class="fas fa-user-alt" style="color: #A3AB13;"></i> 
            Profile
          </a> -->
      </div>
      <div class="navbar-end">
        
        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-danger" href="/logout" role="button"><i class="fas fa-sign-out-alt"></i>
              <strong>Log Out</strong>
            </a>
            <!-- <a class="button is-light" href="/logout" role="button"><i class="fas fa-sign-in-alt"></i>
              Log Out
            </a> -->
          </div>
        </div>
      </div>
    </div>
</div>
  </nav>

  
  <main>
  <% blogss.forEach(function(blog){ %>
    <section class="container" >
        <div class="site-content" style="grid-template-columns: 100% 0%;">
            
            <div class="posts">
                <div class="post-content" data-aos="zoom-in" data-aos-delay="200">
                  <div class="post-title" style="text-align: center;padding-bottom: 0px;">
                  <div class="box" >
                    <a href="#" id="title"><i class="fab fa-battle-net" style="color:#178D27 ;"></i> <%= blog.title %></a></div>
                  </div>
                    <div class="post-image">
                        <div>
                          <% if(blog.image!=null){ %>
                          <img src="/uploads/<%= blog.image %>" class="img" alt="blog1">
                          <%  } %>
                        </div>
                        <div class="post-info flex-row">
                            <span><i class="fas fa-user text-gray"></i>&nbsp;&nbsp;<%= blog.user %></span>
                            <span><i class="fas fa-calendar-alt text-gray"></i>&nbsp;&nbsp;<%= blog.created %></span>
                        </div>
                    </div>
                    <div class="post-title" style="text-align: center;padding-bottom: 0px;">
                      
                      <div class="message-body" style="border-color: #296713;background-color: #DDDFE1;border-radius: 5%;">
                        <p id="content"><i class="fas fa-book-reader" style="color:#296713 ;"></i> <%= blog.content %>
                        </div>
                        
                        </p>
                       
                    </div>
                </div>
              <br>
                
    </section>
 
  <% }) %>

</main>


<!-- Jquery Library file -->
<script src="./js/Jquery3.4.1.min.js"></script>

<!-- --------- Owl-Carousel js ------------------->
<script src="./js/owl.carousel.min.js"></script>

<!-- ------------ AOS js Library  ------------------------- -->
<script src="./js/aos.js"></script>

<!-- Custom Javascript file -->
<script src="./js/main.js"></script>


  <%- include('partials/footer') %>